<!doctype html>
<html>
<head>
    <title>Go template validator</title>
    <meta name="description" content="">
    <meta name="keywords" content="go template validation validator">
    <style>
        .line::before {
            content: attr(data-line-no);
            display: inline-block;
            width: {{.LineNumSpacing}}em;
            color: gray;
        }
        .error {
            color: crimson;
        }
        .exec {
            /* color: chocolate; */
        }
    </style>
</head>
<body>
    <h2>Go template validation</h2>
    <p>
        <code><a href="https://golang.org/pkg/text/template/">"text/template"</a></code><br />
        <code><a href="https://golang.org/pkg/html/template/">"html/template"</a></code>
    </p>
    <form action="/" method="POST" enctype="multipart/form-data">
        <p>
            <label>
                File
                <input type="file" name="from-file" />
            </label>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    <form action="/" method="POST">
        <p>
            <label>
                Text
                <textarea name="from-raw-text">{{.Text}}</textarea>
            </label>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    {{if not (len .Errors) -}}<p>No errors found</p>{{- end}}
    {{range $ei, $e := $.Errors -}}
        {{if eq $e.Line -1 -}}<p class="error"></p>{{- end}}
    {{- end}}
    {{if .TextLines -}}
        <pre>{{range $i, $l := .TextLines -}}
            <span class="line" data-line-no="{{$i}}">{{$l}}</span>{{nl}}<!--
            -->{{range $ei, $e := $.Errors -}}
                {{if eq $i $e.Line -}}
                {{if ne $e.Char -1}}<span class="error line {{$e.Level}}">{{range $_ := intRange 0 $e.Char}} {{end}}^</span>{{nl}}{{end}}<!--
                --><span class="error line {{$e.Level}}">{{$e.Description}}</span>{{nl}}
                {{- end}}
            {{- end}}
        {{- end}}</pre>
    {{- end}}
</body>
</html>
